// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Legrand colors
$black: #000000;
$white: #ffffff;
$accent: #ed1b24;
$accent-dark: #c10c14;
$second: #b5b5b5;
$second-dark: #979797;
$card-bg: #f5f5f5;
$input-border: #c7c7c7;
$light-text: #757575;
$lightest-text: #9a9a9a;
$dark: #2e2e2e;
$dark-text: #2e2e2e;
$warning: #e16b3e;
$warning-dark: #cf582b;
$gray: #9ba7b1;
$gray-dark: #8d8d8d;
$gray-light: #f5f5f5;
$green: #149d42;
