.tab-links {
    font-size: 16px;
    color: $light-text;
    margin: 10px 0;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            padding: 5px 15px;
            border-bottom: 2px solid $input-border;

            &:first-child {
                padding-left: 0;
            }
        }
    }
    .tab-link-selected {
        font-weight: bold;
        border-bottom-color: $accent;
    }
}
